html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #FEFCF7;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #333D4B;
  text-align: center;
}

@media (min-width: 768px) {
  body {
    text-align: left;
  }
}

section {
  margin-bottom: 7.5rem;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1280px;
  padding: 2.5rem 2rem;
  margin: auto;
}

.title, h1, h2, h3, h4 {
  margin: 0;
  font-family: "Fraunces", serif;
  color: #333D4B;
}

.title {
  color: #83888F;
  font-size: 150px;
  line-height: 1;
}

h1 {
  font-size: 72px;
  line-height: 1.1;
}

h2 {
  font-size: 40px;
  line-height: 1.2;
}

h3 {
  font-size: 32px;
  line-height: 1.125;
}

h4 {
  font-size: 24px;
  line-height: 1.333;
}

p {
  margin: 0;
  margin-bottom: 1.5rem;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-main {
  display: inline-block;
  background-color: #0E8784;
  padding: 0.9em 4.5em;
  border: none;
  border-radius: 0.333em;
  font-family: "Fraunces", serif;
  font-size: 18px;
  color: #FEFCF7;
  text-decoration: none;
}

.btn-main:hover {
  background-color: #66D2CF;
  cursor: pointer;
}

.btn-main:disabled,
.btn-main[disabled] {
  background-color: #E2DEDB;
  cursor: default;
  pointer-events: none;
}

.option-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.radio-option {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.radio-option:checked + label {
  background-color: #0E8784;
  color: #ffffff;
}

.option {
  display: block;
  background-color: #F4F1EB;
  padding: 2rem;
  border-radius: 0.5rem;
  color: #333D4B;
}

.option:not(:last-child) {
  margin-right: 20px;
}

.option:hover {
  background-color: #FDD6BA;
  cursor: pointer;
}

.option-title {
  font-family: "Fraunces", serif;
  font-size: 24px;
}

.accordion-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-link.disabled,
.accordion-link:hover.disabled {
  opacity: 50%;
  cursor: default;
  pointer-events: none;
}

.accordion-link:hover {
  cursor: pointer;
}

.accordion-link:hover .fa-chevron-down {
  color: #66D2CF;
}

.accordion-link .fa-chevron-down {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.accordion-link.open .fa-chevron-down {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.accordion-link-title {
  margin: 0;
  font-family: "Fraunces", serif;
  font-size: 40px;
  color: #83888F;
}

.fa-chevron-down {
  font-size: 22px;
  font-weight: bold;
  color: #0E8784;
}

.accordion-panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 500ms ease;
  transition: max-height 500ms ease;
}

.accordion-body {
  padding: 1rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
  position: relative;
}

.desktop-menu {
  display: none;
}

@media (min-width: 768px) {
  .desktop-menu {
    display: block;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-list a {
  display: block;
  margin-left: 0.625rem;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: #83888F;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-icon {
  width: 16px;
  height: 3px;
  background-color: #333D4B;
  border-radius: 5px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.mobile-menu-icon:nth-child(1) {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.mobile-menu-icon:nth-child(2) {
  opacity: 1;
}

.mobile-menu-icon:nth-child(3) {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.mobile-menu.open .mobile-menu-icon:nth-child(1) {
  -webkit-transform: translateY(3px) rotate(45deg);
          transform: translateY(3px) rotate(45deg);
}

.mobile-menu.open .mobile-menu-icon:nth-child(2) {
  opacity: 0;
}

.mobile-menu.open .mobile-menu-icon:nth-child(3) {
  -webkit-transform: translateY(-3px) rotate(-45deg);
          transform: translateY(-3px) rotate(-45deg);
}

.primary-menu {
  display: none;
  position: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #FEFCF7), to(transparent));
  background-image: linear-gradient(to bottom, #FEFCF7 40%, transparent);
  top: 95px;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.primary-menu.show {
  opacity: 1;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

@media (min-width: 768px) {
  .primary-menu.show {
    display: none;
  }
}

.primary-menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.primary-menu-list a {
  display: block;
  padding: 0.75rem 0;
  text-decoration: none;
  text-transform: capitalize;
  color: #333D4B;
  font-family: "Fraunces", serif;
  font-size: 24px;
}

.hero {
  background-image: url("../images/mobile-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .hero {
    background-image: url("../images/tablet-background.jpg");
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 768px) {
  .hero-content {
    width: 65%;
  }
}

.hero-title {
  margin-bottom: 1.5rem;
  font-size: 40px;
  color: #FEFCF7;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 48px;
  }
}

.hero-body-text {
  margin-bottom: 2.5rem;
  font-size: 15px;
  color: #FEFCF7;
}

.title {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-100%, #83888F), to(transparent));
  background-image: linear-gradient(to bottom, #83888F -100%, transparent);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 2rem;
  font-size: 40px;
}

@media (min-width: 768px) {
  .title {
    margin-bottom: -50px;
    font-size: 98px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.collection > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.collection-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .collection-img {
    height: 180px;
    margin-left: 0;
    margin-right: 2.5rem;
  }
}

.collection-title {
  margin-bottom: 24px;
  font-size: 24px;
}

.collection-body-text {
  margin-bottom: 3rem;
}

.why-us {
  background-color: #333D4B;
  padding: 2.5rem 1rem 38rem;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .why-us {
    text-align: center;
    padding: 2.5rem 5rem 19rem;
  }
}

.why-us-title,
.why-us-body-text {
  color: #FEFCF7;
}

.why-us-title {
  font-size: 28px;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .why-us-title {
    font-size: 32px;
  }
}

.why-us-body-text {
  font-size: 15px;
}

.feature-list {
  width: 85%;
  margin: -36rem auto 7.5rem;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
  .feature-list {
    margin: -16.5rem auto 7.5rem;
  }
}

.feature-item {
  background-color: #0E8784;
  margin-bottom: 1.5rem;
  padding: 4rem 2rem;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .feature-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.2rem 4rem;
  }
}

.feature-list-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .feature-list-img {
    margin-bottom: 0;
    margin-right: 3rem;
    width: 56px;
  }
}

.feature-list-title,
.feature-list-body-text {
  color: #FEFCF7;
}

.feature-list-title {
  margin-bottom: 2rem;
  font-size: 24px;
}

@media (min-width: 768px) {
  .feature-list-title {
    margin-bottom: 1rem;
  }
}

.feature-list-body-text {
  margin: 0;
  font-size: 15px;
}

.how-it-works-title {
  font-size: 24px;
  color: #83888F;
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .how-it-works-title {
    margin-bottom: 2rem;
  }
}

.separater {
  display: none;
}

@media (min-width: 768px) {
  .separater {
    display: block;
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
  }
}

.step {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .step {
    margin: 0 2rem 0 0;
  }
}

.step:last-of-type {
  margin-bottom: 4.5rem;
}

@media (min-width: 768px) {
  .step:last-of-type {
    margin-bottom: 0;
  }
}

.step-num {
  font-family: "Fraunces", serif;
  font-size: 72px;
  color: #FDD6BA;
  line-height: 1;
}

.step-title {
  margin-bottom: 1.5rem;
  font-size: 28px;
}

.step-body-text {
  font-size: 15px;
}

.hero-about {
  background-image: url("../images/mobile-background-about-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6rem 1rem;
  border-radius: 10px;
}

.hero-about-title {
  font-size: 28px;
  color: #FEFCF7;
  margin-bottom: 1rem;
}

.hero-about-body-text {
  font-size: 15px;
  color: #FEFCF7;
  margin: 0;
}

.our-commitment {
  margin-bottom: 12rem;
}

.our-commitment-img {
  margin-bottom: 4rem;
}

.our-commitment-title {
  font-size: 32px;
  margin-bottom: 2rem;
}

.our-commitment-body-text {
  font-size: 15px;
}

.quality {
  background-color: #333D4B;
  padding: 3rem 1.5rem 4rem;
  border-radius: 10px;
}

.quality-img {
  margin-top: -120px;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.quality-title {
  margin-bottom: 2rem;
  font-size: 28px;
  color: #FEFCF7;
}

.quality-body-text {
  margin: 0;
  font-size: 15px;
  color: #FEFCF7;
}

.locations-title {
  font-size: 24px;
  color: #83888F;
}

.location-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

.location-title {
  font-size: 28px;
  margin-bottom: 1rem;
}

.location p {
  margin: 0;
}

.phone-link {
  text-decoration: none;
  color: #333D4B;
}

.footer {
  background-color: #333D4B;
  padding: 3rem 2rem;
  margin-bottom: 2rem;
}

.footer-logo-img {
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .footer-logo-img {
    height: 26px;
    margin-bottom: 1.5rem;
  }
}

.footer-menu,
.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-menu {
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .footer-menu-item:not(:last-child) {
    margin-right: 2rem;
  }
}

.footer-menu a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: #83888F;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 768px) {
  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .social-item:not(:last-child) {
    margin-right: 2rem;
  }
}

.social a {
  text-decoration: none;
  font-size: 24px;
  color: #FEFCF7;
}
/*# sourceMappingURL=styles.css.map */