.btn-main {
    display: inline-block;
    background-color: $darkCyan;
    padding: 0.9em 2.5em;
    border: none;
    border-radius: 0.333em;
    font-family: $heading;
    font-size: 18px;
    color: $lightCream;
    text-decoration: none;
}

.btn-main:hover {
    background-color: $lightCyan;
    cursor: pointer;
}

.btn-main:disabled,
.btn-main[disabled] {
    background-color: #E2DEDB;
    cursor: default;
    pointer-events: none;
}