.footer {
    background-color: $darkGreyBlue;
    padding: 3rem 2rem;
    margin-bottom: 2rem;
}

.footer-logo-img {
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;

    @media (min-width: $tablet) {
        height: 26px;
        margin-bottom: 1.5rem;
    }
}

.footer-menu,
.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-menu {
    margin-bottom: 2.5rem;

    @media (min-width: $tablet) {
        display: flex;
        justify-content: center;
    }
}

.footer-menu-item:not(:last-child) {
    @media (min-width: $tablet) {
        margin-right: 2rem;
    }  
}

.footer-menu a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;          
    color: $grey;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.social {
    display: flex;
    justify-content: space-evenly;

    @media (min-width: $tablet) {
        justify-content: center;
    }
}

.social-item {
    
    &:not(:last-child) {
        @media (min-width: $tablet) {
            margin-right: 2rem;
        }
    }
}

.social a {
    text-decoration: none;
    font-size: 24px;
    color: $lightCream;
}