.footer {
    background-color: $darkGreyBlue;
    padding: 3rem 2rem;
    margin-bottom: 2rem;
}

.footer-logo-img {
    margin-bottom: 3rem;
}

.footer-menu,
.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-menu {
    margin-bottom: 2.5rem;
}

.footer-menu-item:not(:last-child) {
    margin-bottom: 1rem;    
}

.footer-menu a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;          
    color: $grey;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.social {
    display: flex;
    justify-content: space-evenly;
}

.social a {
    text-decoration: none;
    font-size: 24px;
    color: $lightCream;
}