html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: $lightCream;
    font-family: $bodyText;
    font-size: 16px;
    line-height: 1.625;
    color: $darkGreyBlue;
    text-align: center;
}

section {
    margin-bottom: 7.5rem;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1280px;
    padding: 2.5rem 2rem;
    margin: auto;
}

// Typography
.title, h1, h2, h3, h4 {
    margin: 0;
    font-family: $heading;
    color: $darkGreyBlue;
}

.title { // alternate larger h1 style
    color: $grey;
    font-size: 150px;
    line-height: 1;
}

h1 {
    font-size: 72px;
    line-height: 1.1;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 32px;
    line-height: 1.125;
}

h4 {
    font-size: 24px;
    line-height: 1.333;
}

p {
    margin: 0;
    margin-bottom: 1.5rem;
}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

