.option-list {
    display: flex;
    flex-direction: column;
    position: relative;
    
    @media (min-width: $tablet) {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5rem;
    }
}

.radio-option {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.radio-option:checked + label {
    background-color: $darkCyan;
    color: $white;
}

.option {
    flex: 0 0 32%;
    display: block;
    margin-bottom: 1rem;
    background-color: #F4F1EB;
    padding: 1.8rem;
    border-radius: 0.5rem;
    color: $darkGreyBlue;

    &:last-child {
        margin-bottom: 6rem;
    }

    @media (min-width: $tablet) {
        margin-bottom: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.option:hover {
    background-color: $paleOrange;
    cursor: pointer;
}

.option-title {
    margin-bottom: 0.875rem;
    font-family: $heading;
    font-size: 24px;
    text-align: left;
}

.option-body-text {
    margin: 0;
    text-align: left;
}