.option-list {
    display: flex;
    position: relative;
    // margin: 0;
    // padding: 0;
    // list-style-type: none;
}

.radio-option {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.radio-option:checked + label {
    background-color: $darkCyan;
    color: $white;
}

.option {
    display: block;
    background-color: #F4F1EB;
    padding: 2rem;
    border-radius: 0.5rem;
    color: $darkGreyBlue;
}

.option:not(:last-child) {
    margin-right: 20px;
}

.option:hover {
    background-color: $paleOrange;
    cursor: pointer;
}

.option-title {
    font-family: $heading;
    font-size: 24px;
}