//   Colors
$darkCyan: #0E8784;
$lightCyan: #66D2CF;
$darkGreyBlue: #333D4B;
$paleOrange: #FDD6BA;
$lightCream: #FEFCF7;
$grey: #83888F;
$white: #ffffff;
$black: #000000;

// Fonts
$heading: 'Fraunces', serif;
$bodyText: 'Barlow', sans-serif;

// Media queries
$tablet: 768px;
$desktop: 1440px;

 




