.how-it-works-title {
    font-size: 24px;
    color: $grey;
    margin-bottom: 80px;
}

.step {
    margin-bottom: 4rem;
}

.step:last-of-type {
    margin-bottom: 4.5rem;
}

.step-num {
    font-family: $heading;
    font-size: 72px;
    color: $paleOrange;
    line-height: 1;
}

.step-title {
    margin-bottom: 1.5rem;
    font-size: 28px;
}

.step-body-text {
    font-size: 15px;
}
