.hero-about {
    background-image: url('../images/mobile-background-about-us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 6rem 1rem;
    border-radius: 10px;

    @media (min-width: $tablet) {
        background-image: url('../images/tablet-background-about-us.jpg');
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.hero-about-title {
    font-size: 28px;
    color: $lightCream;
    margin-bottom: 1rem;
}

.hero-about-body-text {
    font-size: 15px;
    color: $lightCream;
    margin: 0;

    @media (min-width: $tablet) {
        max-width: 70%;
    }
}