.our-commitment {
    margin-bottom: 12rem;
}

.our-commitment-img {
    margin-bottom: 4rem;
}

.our-commitment-title {
    font-size: 32px;
    margin-bottom: 2rem;
}

.our-commitment-body-text {
    font-size: 15px;
}