.summary {
    background-color: $darkGreyBlue;
    margin: 1.5rem 0 3rem;
    padding: 2rem;
    border-radius: 10px;
}

.summary-title {
    color: rgba($white, 0.5);
    text-align: left;
    text-transform: uppercase;
}

.summary-body-text {
    margin: 0;
    font-family: $heading;
    font-size: 24px;
    color: $white;
    text-align: left;
}

.modal {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close-modal {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 100;
}

.modal-content {
    @media (min-width: $tablet) {
        width: 65%;
        margin: auto;
    }
}

.order-summary-content {
    padding: 1.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.order-summary {
    background-color: $white;
    border-radius: 10px;
    font-size: 16px;
    text-align: left;

    &-title {
        position: relative;
        background-color: $darkGreyBlue;
        margin: 0;
        padding: 1.5rem 1.25rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: $white;
        font-family: $heading;
        font-size: 24px;
    }

    &-body-text {
        margin: 0;
        font-family: $heading;
        font-size: 20px;
        color: $grey;
    }

}

.confirm-text {
    margin-top: 1rem;
    font-family: $bodyText;
    font-size: 15px;
    color: $grey;
    text-align: left;
}

.selected-item {
    color: $darkCyan;
}

.center {
    text-align: center;
}

.checkout {
    width: 100%;
    font-size: 15px;
}